{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('store') }}
{% endblock %}

{% block title %}{{ parent() }}Store{% endblock %}

{% block body %}
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 p-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 p-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 p-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="{{ path('home') }}" class="navbar-brand d-flex align-items-center">
                    <img src="{{ asset('images/store/wheel.svg') }}" style="width: 30px">
                    <strong>ponet</strong>
                </a>
                <div class="btn-group">
                    {# USER #}
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-person-fill text-light px-3" style="font-size: 1.25rem"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownUser">
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('show_profile') }}" class="dropdown-item">
                                <i class="bi bi-person"></i>
                                My account
                            </a>
                            <a href="{{ path('app_logout') }}" class="dropdown-item">
                                <i class="bi bi-power"></i>
                                Logout
                            </a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="dropdown-item">
                                <i class="bi bi-door-open"></i>
                                Login
                            </a>
                            <a href="{{ path('app_register') }}" class="dropdown-item">
                                <i class="bi bi-pen"></i>
                                Register
                            </a>
                        {% endif %}
                    </div>
                    {# CART #}
                    <a href="#" class="btn btn-outline-secondary">
                        <i class="bi bi-cart2 text-light px-3" style="font-size: 1.25rem"></i>
                    </a>
                    {# MENU #}
                    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-list text-light px-3" style="font-size: 1.25rem"></i>
                    </button>
                    {# ADMIN #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-outline-secondary" href="{{ path('admin') }}">
                            <i class="bi bi-sliders text-light px-3" style="font-size: 1.25rem"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main role="main">
    {% block content %}
        {% include 'store/_search.html.twig' %}
    {% endblock %}
    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#" id="scrollUp"><i class="bi bi-arrow-up-circle-fill text-dark" style="font-size: 2.5rem"></i></a>
            </p>
            <p>Oponet&copy; is inspired by <a href="https://oponeo.pl" target="_blank">Oponeo.pl</a></p>
            <p>This site has educational purpose only!</p>
        </div>
    </footer>

    {% block bottom_javascript %}
        {{ encore_entry_script_tags('store') }}
    {% endblock %}

{% endblock %}
