{% extends 'store/index.html.twig' %}

{% block content %}
<div class="album py-3 bg-light">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item" aria-current="page">Oponet</li>
                <li class="breadcrumb-item" aria-current="page">Tires</li>
                <li class="breadcrumb-item active" aria-current="page">Product</li>
            </ol>
        </nav>

{# Brand description #}
        <div class="row mb-4">
            <div class="col-12">
                <div class="card shadow">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-3">
                            <img src="{{ asset(product.model.brand.imageUrl) }}" class="img-fluid">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                {{ product.model.brand.description|markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{# Product description #}
        <div class="row mb-4">
            <div class="col-12">
                <div class="card shadow">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-3">
                            <div class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for image in product.model.imagesPaths %}
                                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                                            <img src="{{ asset(image) }}" class="d-block w-100">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                {{ product.model.description|markdown_to_html }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{# Product details #}
        <div class="row mb-4">
            <div class="col-4">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        <i class="bi bi-arrows-angle-expand mr-2"></i>
                        DIMENSIONS
                    </div>
{#                    <img src="#">#}
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Width: </span>
                                {{ product.width }}
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Height: </span>
                                {{ product.height }}
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Rim size: </span>
                                {{ product.rimSize }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        <i class="bi bi-download mr-2"></i>
                        FEATURES
                    </div>
                    {#                    <img src="#">#}
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Load index: </span>
                                {{ product.loadIndex }} = max {{ product.loadIndex.kg }} kg
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Speed rating: </span>
                                {{ product.speedRating }} = max {{ product.speedRating.kmh }} km/h
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Production year: </span>
                                {{ product.year }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card h-100 shadow">
                    <div class="card-header">
                        <i class="bi bi-tag-fill mr-2"></i>
                        EULABEL
                    </div>
                    {#                    <img src="#">#}
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Fuel efficiency: </span>
                                {{ product.fuelEfficiency }}
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Grip on wet: </span>
                                {{ product.wetGrip }}
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Noise: </span>
                                {{ product.noiseLevel }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
{# Buy product #}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <h5 class="card-title">
                                    Price:
                                </h5>
                                <span class="card-text">
                                    {{ product.price }} zł / pcs
                                </span>
                            </div>
                            <div class="col-4">
                                <h5 class="card-title">
                                    Availability
                                </h5>
                                <div class="progress">
                                    <div class="progress-bar {% if product.quantity < 4 %}bg-danger{% elseif product.quantity > 7 %}bg-success{% else %}bg-warning{% endif %}"
                                         style="width: {% if product.quantity < 4 %}20{% elseif product.quantity > 7 %}90{% else %}50{% endif %}%">
                                        {{ product.quantity }} pcs
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <h5 class="card-title">
                                    {{ product.price }} / pcs
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_row(form.quantity, {
                                'attr': {
                                    'min': 1,
                                    'max': (product.quantity),
                                    'value': 1
                                }
                            }) }}
                            <input type="submit" class="btn btn-primary btn-block" value="Add to cart">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}